include README.md
recursive-include reference_images *.png
recursive-include docs *.html
recursive-include docs *.png
recursive-include docs *.svg
include *.py
include *.txt
recursive-include reference_images *.xlsx
recursive-include tests *.png
recursive-include tests *.py
