altgraph==0.17.2
cycler==0.11.0
fonttools==4.33.3
future==0.18.2
keyboard==0.13.5
kiwisolver==1.4.2
matplotlib==3.5.2
MouseInfo==0.1.3
numpy==1.21.6
opencv-python==4.5.5.64
packaging==21.3
pefile==2021.9.3
Pillow==9.1.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
PyMsgBox==1.0.9
pyparsing==3.0.8
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
pytweening==1.0.4
pywin32-ctypes==0.2.0
six==1.16.0
