.App {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .App {
        font-size: 14px;
    }
}

.App p {
    font-size: 16px;
    line-height: 1.5;
}

.App ul {
    list-style: square;
}

.App ol li {
    padding-bottom: 6px;
}

.App a {
    color: #0000FF;
    text-decoration: none;
}

.App code {
    color: #006400;
    background-color: #D3D3D3;
}
