body {
    color: #ccc;
    background-color: #202020;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (max-width: 600px) {
    body {
        width: 90%;
    }
}
