.AppContainer {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .AppContainer {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: square;
}

ol li {
  padding-bottom: 6px;
}

a {
  color: #0000FF;
  text-decoration: none;
}

code {
  color: #006400;
  background-color: #D3D3D3;
}

h1 {
  background-color: #018281;
  color: #FFFFFF;
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
  -webkit-box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
  -moz-box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
  padding: 2px 0px 2px 10px;
  margin: 10px 0px;
}

h2,
h3,
h4,
h5,
h6 {
  background-color: #018281;
  color: #FFFFFF;
  box-shadow: inset -1px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
  -webkit-box-shadow: inset -1px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
  -moz-box-shadow: inset -1px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
  padding: 2px 0px 2px 6px;
  margin: 20px 0;
}

.block {
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 5px 10px;
  background-color: #C0C0C0;
  box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
  -webkit-box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
  -moz-box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
}

.account-block {
  min-width: 135px;
  margin-right: 5px;
}

.job-block {
  margin-top: 5px;
}

.button-block {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end
}

.button-block button {
  flex-grow: 1;
}

.stats-block {
  display: flex;
  margin-top: 10px;
}

.stats-block * {
  flex-grow: 1;
}

button {
  padding: 1px 8px;
  font-size: 14px;
  background-color: #C0C0C0;
  box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
  -webkit-box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
  -moz-box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
  border: 0px;
}

button:hover:enabled {
  background-color: #b1b1b1;
  box-shadow: -2px -2px 0px #000000, 2px 2px 0px #FFFFFF;
  -webkit-box-shadow: -2px -2px 0px #000000, 2px 2px 0px #FFFFFF;
  -moz-box-shadow: -2px -2px 0px #000000, 2px 2px 0px #FFFFFF;
}

.output-block {
  margin: 3px 0 0 0;
  display: flex;
}

.status {
  flex-grow: 1;
  box-shadow: -1px -1px 0px #5f5f5f, 1px 1px 0px #FFFFFF;
  -webkit-box-shadow: -1px -1px 0px #5f5f5f, 1px 1px 0px #FFFFFF;
  -moz-box-shadow: -1px -1px 0px #5f5f5f, 1px 1px 0px #FFFFFF;
}

.footer {
  position: fixed;
  bottom: 5px;
  width: calc(100% - 30px)
}
