.Readme {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media only screen and (max-width: 600px) {
    .Readme {
        font-size: 14px;
    }
}

.Readme p {
    font-size: 16px;
    line-height: 1.5;
}

.Readme ul {
    list-style: square;
}

.Readme ol li {
    padding-bottom: 6px;
}

.block {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #C0C0C0;
    box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
    -webkit-box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
    -moz-box-shadow: -2px -2px 0px #FFFFFF, 2px 2px 0px #000000;
}

.headerblock {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: fit-content;
}

.textblock {
    width: calc(100% - 125px);
}

.logoblock {
    flex: 1;
    margin-right: 5px;
}

.logo {
    display: block;
    width: auto;
    height: auto;
}

.ReadMe h1 {
    background-color: #018281;
    color: #FFFFFF;
    box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
    -webkit-box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
    -moz-box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
    padding: 5px 0px 5px 10px;
}

.ReadMe h2,
.ReadMe h3,
.ReadMe h4,
.ReadMe h5,
.ReadMe h6 {
    background-color: #018281;
    color: #FFFFFF;
    box-shadow: inset -1px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
    -webkit-box-shadow: inset -1px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
    -moz-box-shadow: inset -1px -2px 0px #FFFFFF, inset 2px 2px 0px #000000;
    padding: 2px 0px 2px 6px;
    margin: 10px 0;
}

.downloadbutton {
    padding: 1px 8px;
    font-size: 14px;
    background-color: #C0C0C0;
    box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    -moz-box-shadow: 2px 2px 2px #000000;
}

.downloadbutton:hover {
    background-color: #b1b1b1;
}

.demo {
    display: flex;
    align-items: flex-start;
}

.demoimage {
    width: 50%;
    display: block;
    height: auto;
    object-fit: scale-down;
}
