body {
    color: #000;
    background-color: #808080;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: "MS Sans Serif", "Microsoft MS Sans Serif", sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        width: 90%;
    }
}
