name: Build test packages

on:
  pull_request:
    branches: [master]

permissions:
  contents: write

jobs:
  build-windows:
    name: Build Windows MSI
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@master
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Build package
        run: |
          uv run --group build scripts/setup_msi.py bdist_msi --target-version v0.0.0
      - name: Upload MSI Artifact
        uses: actions/upload-artifact@v4
        with:
          name: py-clash-bot-test-windows.msi
          path: ./dist/pyclashbot*.msi
          retention-days: 30

  build-macos:
    name: Build macOS DMG
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@master
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Build package
        run: |
          uv run --group build scripts/setup_macos.py --target-version v0.0.0
      - name: Upload DMG Artifact
        uses: actions/upload-artifact@v4
        with:
          name: py-clash-bot-test-macos.dmg
          path: ./dist/py-clash-bot*.dmg
          retention-days: 30
