name: Python Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: Python Windows Test
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python: ["3.11"]
        experimental: [false]
        include:
          - python: "3.12"
            experimental: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python }}
        id: pysetup
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python }}
      - name: Install package and dependencies, then run tests
        run: |
          cd backend
          python -m pip install poetry==1.3.2
          poetry env use '${{ steps.pysetup.outputs.python-path }}'
          poetry install --with build -vvv
          poetry run python -m unittest discover "tests" -p '*_test.py'
